*{
    font-family: 'Inter', sans-serif;
}
/* Header */
header{
    background-color: #303030;
    color: white;
    font-size: 30px;
    padding: 70px 0px 70px 55px;
    
    
}
header h1{
    margin: 0px 0px 20px 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

header h6{
    margin: 0px 0px 20px 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

/* ID Resumo */
#resumo{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    font-size: 20px;
    background-color:rgb(252, 247, 240) ;
    padding: 75px 0px 75px 125px;
    
}
#resumo h1,h5{
    margin:0px;
}
#resumo h5{
    margin:0px;
    font-weight: 400;
}
/* main */
main{
    padding: 25px 25px 25px 50px;
    display: grid;
    grid-template-columns: 65% 35%;       
    text-align: justify;
    align-items: center;
    
}
main h1{
    font-size: 40px;
}
main p{
    font-size: 20px;
    margin-right: 120px;
}
/* Form*/
form{
    display: flex;
    flex-direction: column;
    background-color: #303030 ;
    padding: 50px 0px 40px 80px;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 20px;
    
}
input{
    width: 25%;
    /* height: 120px; */
    padding: 15px 0px 15px 25px;
    border-radius: 10px;
    font-size: 20px;
    color: #000000 ;
    margin: 25px 0px 20px 0px;
}

button{
    width: 15%;
    background: #C07212;
    padding: 15px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    margin: 25px 0px 40px 0px;   
}

button:hover{
    background:#000000;
    transition-duration: 1s;
    
}






